body {

    background: rgb(29,47,138);
    background: -moz-radial-gradient(circle, rgba(29,47,138,1) 27%, rgba(252,70,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(29,47,138,1) 27%, rgba(252,70,107,1) 100%);
    background: radial-gradient(circle, rgba(29,47,138,1) 27%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2f8a",endColorstr="#fc466b",GradientType=1);
    
    max-height: 100vh;

}


#principalCard {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white 1px solid;
    padding: 9rem;

}

input {
    width: 70%;
}

p {
    background-color: green;;
}