*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2C3639;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

h1{
    margin-bottom: 6vh;
    color: #DCD7C9;
}

#principalCard {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;    
    background-color: #3F4E4F;
    padding-left: 6vw;
    padding-right: 6vw;

}

#principalCard span {
    color: #DCD7C9;
    padding-left: 3vh;
}
#principalCard code {
    color: #DCD7C9;
    padding-left: 3vh;
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

form {
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

#inputNumber {
    overflow: hidden;
    width: 9vw;
    font-size: 5vh;
    height: 10vh;
    border-radius: 10px;
}

button {
    background-color: #A27B5C;
    color: #DCD7C9;
    font-weight: 700;
    width: 9vw;
    height: 10vh;
    border-radius: 20px;
    margin-left: 8vw;
}


#gitLogo {
    margin-top: 20vh;
}

#result {
    color: #DCD7C9;
    font-weight: 700;
    font-size: 8vh;
    margin-top: 6vh;
}